.svgPlanoIni{
    height: 90vh;
    box-shadow: 0px 0px 50px black;
    border-radius: 10px;
}
.fondoInicio{fill:#242424;}
.st1{fill:#FF0000;
    animation: st1 3s forwards 1.5s;
}
.st2{fill:#00FF00;
    animation: st2 3s forwards 1.5s;
}

@keyframes st1{
    0%{
        d: path(
            "M1787.9,1741.9v539.3l-712.5-157.6v-539.3L1787.9,1741.9z M1787.9,1680.6v37.1l-712.5-157.6V1523l-24.2-5.4 v37.1l-37.1-8.2v24.2l37.1,8.2v539.3l-37.1-8.2v24.2l37.1,8.2v37.1l24.2,5.4v-37.1l712.5,157.6v37.1l24.2,5.4v-37.1l37.1,8.2v-24.2 l-37.1-8.2v-539.3l37.1,8.2v-24.2l-37.1-8.2v-37.1L1787.9,1680.6z"
        )
    }100%{
        d: path(
            "M1805.9,1884.2v387.8l-8-113.3v-387.8L1805.9,1884.2z M1805.9,1840.1v26.7l-8-113.3v-26.7l-0.3-3.8v26.7 l-0.4-5.9v17.4l0.4,5.9v387.8l-0.4-5.9v17.4l0.4,5.9v26.7l0.3,3.8V2176l8,113.3v26.7l0.3,3.8v-26.7l0.4,5.9v-17.4l-0.4-5.9V1888 l0.4,5.9v-17.4l-0.4-5.9v-26.7L1805.9,1840.1z"
        )
    }
}
@keyframes st2{
    0%{
        d: path(
            "M1678.5,1717.7l-195.9-43.3v48.5l195.9,43.3V1717.7z M1469.1,1671.4l-195.9-43.3v48.5l195.9,43.3V1671.4z M1261.1,1625.3l-185.7-41.1v48.5l185.7,41.1V1625.3z M1787.9,1864.6l-97.3-21.5v48.5l97.3,21.5V1864.6z M1678.5,1840.4l-195.9-43.3	v48.5l195.9,43.3V1840.4z M1469.1,1794l-195.9-43.3v48.5l195.9,43.3V1794z M1261.1,1748l-185.7-41.1v48.5l185.7,41.1V1748z M1787.9,1987.3l-97.3-21.5v48.5l97.3,21.5V1987.3z M1678.5,1963.1l-195.9-43.3v48.5l195.9,43.3V1963.1z M1469.1,1916.7l-195.9-43.3	v48.5l195.9,43.3V1916.7z M1261.1,1870.7l-185.7-41.1v48.5l185.7,41.1V1870.7z M1787.9,2109.9l-97.3-21.5v48.5l97.3,21.5V2109.9z M1678.5,2085.7l-195.9-43.3v48.5l195.9,43.3V2085.7z M1469.1,2039.4l-195.9-43.3v48.5l195.9,43.3V2039.4z M1261.1,1993.4	l-185.7-41.1v48.5l185.7,41.1V1993.4z M1787.9,2232.6l-97.3-21.5v48.5l97.3,21.5V2232.6z M1678.5,2208.4l-195.9-43.3v48.5	l195.9,43.3V2208.4z M1469.1,2162.1l-195.9-43.3v48.5l195.9,43.3V2162.1z M1261.1,2116.1l-185.7-41.1v48.5l185.7,41.1V2116.1z M1576.5,1756.6l-195.9-43.3v48.5l195.9,43.3V1756.6z M1787.9,1803.4l-195.9-43.3v48.5l195.9,43.3V1803.4z M1367.1,1710.3 l-195.9-43.3v48.5l195.9,43.3V1710.3z M1160.5,1664.6l-85.1-18.8v48.5l85.1,18.8V1664.6z M1576.5,1879.3l-195.9-43.3v48.5 l195.9,43.3V1879.3z M1787.9,1926.1l-195.9-43.3v48.5l195.9,43.3V1926.1z M1367.1,1833l-195.9-43.3v48.5l195.9,43.3V1833z M1160.5,1787.3l-85.1-18.8v48.5l85.1,18.8V1787.3z M1576.5,2002l-195.9-43.3v48.5l195.9,43.3V2002z M1787.9,2048.8l-195.9-43.3	v48.5l195.9,43.3V2048.8z M1367.1,1955.7l-195.9-43.3v48.5l195.9,43.3V1955.7z M1160.5,1910l-85.1-18.8v48.5l85.1,18.8V1910z M1576.5,2124.7l-195.9-43.3v48.5l195.9,43.3V2124.7z M1787.9,2171.5l-195.9-43.3v48.5l195.9,43.3V2171.5z M1367.1,2078.4	l-195.9-43.3v48.5l195.9,43.3V2078.4z M1160.5,2032.7l-85.1-18.8v48.5l85.1,18.8V2032.7z M1787.9,1741.9l-97.3-21.5v48.5l97.3,21.5 V1741.9z"
        )
    }100%{
        d: path(
            "M1804.7,1866.7l-2.2-31.2v34.9l2.2,31.2V1866.7z M1802.4,1833.4l-2.2-31.2v34.9l2.2,31.2V1833.4z M1800,1800.4 l-2.1-29.5v34.9l2.1,29.5V1800.4z M1805.9,1972.4l-1.1-15.5v34.9l1.1,15.5V1972.4z M1804.7,1955l-2.2-31.2v34.9l2.2,31.2V1955z M1802.4,1921.7l-2.2-31.2v34.9l2.2,31.2V1921.7z M1800,1888.6l-2.1-29.5v34.9l2.1,29.5V1888.6z M1805.9,2060.6l-1.1-15.5v34.9 l1.1,15.5V2060.6z M1804.7,2043.2l-2.2-31.2v34.9l2.2,31.2V2043.2z M1802.4,2009.9l-2.2-31.2v34.9l2.2,31.2V2009.9z M1800,1976.8 l-2.1-29.5v34.9l2.1,29.5V1976.8z M1805.9,2148.8l-1.1-15.5v34.9l1.1,15.5V2148.8z M1804.7,2131.4l-2.2-31.2v34.9l2.2,31.2V2131.4z M1802.4,2098.1l-2.2-31.2v34.9l2.2,31.2V2098.1z M1800,2065l-2.1-29.5v34.9l2.1,29.5V2065z M1805.9,2237.1l-1.1-15.5v34.9l1.1,15.5 V2237.1z M1804.7,2219.7l-2.2-31.2v34.9l2.2,31.2V2219.7z M1802.4,2186.3l-2.2-31.2v34.9l2.2,31.2V2186.3z M1800,2153.3l-2.1-29.5 v34.9l2.1,29.5V2153.3z M1803.6,1894.8l-2.2-31.2v34.9l2.2,31.2V1894.8z M1805.9,1928.4l-2.2-31.2v34.9l2.2,31.2V1928.4z M1801.2,1861.5l-2.2-31.2v34.9l2.2,31.2V1861.5z M1798.9,1828.6l-1-13.5v34.9l1,13.5V1828.6z M1803.6,1983l-2.2-31.2v34.9l2.2,31.2 V1983z M1805.9,2016.6l-2.2-31.2v34.9l2.2,31.2V2016.6z M1801.2,1949.7l-2.2-31.2v34.9l2.2,31.2V1949.7z M1798.9,1916.8l-1-13.5 v34.9l1,13.5V1916.8z M1803.6,2071.2l-2.2-31.2v34.9l2.2,31.2V2071.2z M1805.9,2104.9l-2.2-31.2v34.9l2.2,31.2V2104.9z M1801.2,2037.9l-2.2-31.2v34.9l2.2,31.2V2037.9z M1798.9,2005l-1-13.5v34.9l1,13.5V2005z M1803.6,2159.4l-2.2-31.2v34.9l2.2,31.2 V2159.4z M1805.9,2193.1l-2.2-31.2v34.9l2.2,31.2V2193.1z M1801.2,2126.1l-2.2-31.2v34.9l2.2,31.2V2126.1z M1798.9,2093.3l-1-13.5 v34.9l1,13.5V2093.3z M1805.9,1884.2l-1.1-15.5v34.9l1.1,15.5V1884.2z"
        )
    }
}


/* 
<path class="st1" d="M1805.9,1884.2v387.8l-8-113.3v-387.8L1805.9,1884.2z M1805.9,1840.1v26.7l-8-113.3v-26.7l-0.3-3.8v26.7
	l-0.4-5.9v17.4l0.4,5.9v387.8l-0.4-5.9v17.4l0.4,5.9v26.7l0.3,3.8V2176l8,113.3v26.7l0.3,3.8v-26.7l0.4,5.9v-17.4l-0.4-5.9V1888
	l0.4,5.9v-17.4l-0.4-5.9v-26.7L1805.9,1840.1z"/>
<path class="st2" d="M1804.7,1866.7l-2.2-31.2v34.9l2.2,31.2V1866.7z M1802.4,1833.4l-2.2-31.2v34.9l2.2,31.2V1833.4z M1800,1800.4
	l-2.1-29.5v34.9l2.1,29.5V1800.4z M1805.9,1972.4l-1.1-15.5v34.9l1.1,15.5V1972.4z M1804.7,1955l-2.2-31.2v34.9l2.2,31.2V1955z
	 M1802.4,1921.7l-2.2-31.2v34.9l2.2,31.2V1921.7z M1800,1888.6l-2.1-29.5v34.9l2.1,29.5V1888.6z M1805.9,2060.6l-1.1-15.5v34.9
	l1.1,15.5V2060.6z M1804.7,2043.2l-2.2-31.2v34.9l2.2,31.2V2043.2z M1802.4,2009.9l-2.2-31.2v34.9l2.2,31.2V2009.9z M1800,1976.8
	l-2.1-29.5v34.9l2.1,29.5V1976.8z M1805.9,2148.8l-1.1-15.5v34.9l1.1,15.5V2148.8z M1804.7,2131.4l-2.2-31.2v34.9l2.2,31.2V2131.4z
	 M1802.4,2098.1l-2.2-31.2v34.9l2.2,31.2V2098.1z M1800,2065l-2.1-29.5v34.9l2.1,29.5V2065z M1805.9,2237.1l-1.1-15.5v34.9l1.1,15.5
	V2237.1z M1804.7,2219.7l-2.2-31.2v34.9l2.2,31.2V2219.7z M1802.4,2186.3l-2.2-31.2v34.9l2.2,31.2V2186.3z M1800,2153.3l-2.1-29.5
	v34.9l2.1,29.5V2153.3z M1803.6,1894.8l-2.2-31.2v34.9l2.2,31.2V1894.8z M1805.9,1928.4l-2.2-31.2v34.9l2.2,31.2V1928.4z
	 M1801.2,1861.5l-2.2-31.2v34.9l2.2,31.2V1861.5z M1798.9,1828.6l-1-13.5v34.9l1,13.5V1828.6z M1803.6,1983l-2.2-31.2v34.9l2.2,31.2
	V1983z M1805.9,2016.6l-2.2-31.2v34.9l2.2,31.2V2016.6z M1801.2,1949.7l-2.2-31.2v34.9l2.2,31.2V1949.7z M1798.9,1916.8l-1-13.5
	v34.9l1,13.5V1916.8z M1803.6,2071.2l-2.2-31.2v34.9l2.2,31.2V2071.2z M1805.9,2104.9l-2.2-31.2v34.9l2.2,31.2V2104.9z
	 M1801.2,2037.9l-2.2-31.2v34.9l2.2,31.2V2037.9z M1798.9,2005l-1-13.5v34.9l1,13.5V2005z M1803.6,2159.4l-2.2-31.2v34.9l2.2,31.2
	V2159.4z M1805.9,2193.1l-2.2-31.2v34.9l2.2,31.2V2193.1z M1801.2,2126.1l-2.2-31.2v34.9l2.2,31.2V2126.1z M1798.9,2093.3l-1-13.5
	v34.9l1,13.5V2093.3z M1805.9,1884.2l-1.1-15.5v34.9l1.1,15.5V1884.2z"/> */